.topheader {
    padding: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.header {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.loginbox {
    width: 400px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #ddeaf7;
    border-radius: 12px;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
}

.loginbutton {
    text-align: center;
    padding-bottom: 10px;
    background-color: #ddeaf7;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    margin-bottom: 50px;
}
.votebox {
    background-color: #ddeaf7;
    text-align: center;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 25px 0px rgba(0,0,0,0.75);
    padding: 0px 100px;
    padding-bottom: 5px;
    border-radius: 12px;
}