
.topheader {
    padding: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.header {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.loginbox {
    display: flex;
    width: 200px;
    text-align: center;
    align-content: center;
    padding-bottom: 20px;
    border-radius: 5px;

    margin: auto;
    background-color: #ddeaf7;
    box-shadow: 5px 7px 11px 0px rgba(0,0,0,0.75);
}

.votebox {
    background-color: #ddeaf7;
    text-align: center;
    width: 400px;
    margin: auto;
    box-shadow: 5px 7px 11px 0px rgba(0,0,0,0.75);
    padding: 0px 100px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.accordion {
    width: 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 5px 7px 11px 0px rgba(0,0,0,0.75);
}
.accordion header {
    border-radius: 5px;

}
.accordion-button {
    border-radius: 5px;
}
.input {
    width: 200px;
    padding: 10px;
    margin:auto;
    align-content: center;
}


.btn btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    border: 1px solid grey;
    text-align: left;
    padding-left: 5px;
}
.vote-count{
    font-size: 20px;    
    padding-right: 5px;
    
}
.vote-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px; 
}
